.title {
	line-height: 1.2;
	font-size: 2em;
	margin-bottom: 5rem;
}
.subtitle {
	letter-spacing: -0.5px;
	margin: 0;
	margin-bottom: 3rem;
	font-size: 1.8rem;
	line-height: 1.3;
	text-align: center;
	@include desktop {
		margin-bottom: 5rem;
		font-size: 2.4rem;
		line-height: 1.3;
		//width: 80%;
	}
}
.about {
	padding-top: 15%;
	@include desktop {
		padding-top: 8%;
	}
	div > * {
		margin-left: auto;
		margin-right: auto;
	}
}

.body-text {
	width: 80%;
	&:last-child {
		padding-bottom: 4rem;
	}
}