@import "animation";
@import "variables";

.jumbotron {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	text-align: left;
	.green & {
		background-color: $theme-green;
		//#7cb33a
		background: linear-gradient(150deg, $theme-green 0%, darken($theme-green, 10%) 84%);
	}
	.blue & {
		background-color: $theme-blue;
	    background: linear-gradient(150deg, $theme-blue 10%, darken($theme-blue, 10%) 84%);
	}
	.orange & {
		background-color: $theme-orange;
	    background: linear-gradient(150deg, $theme-orange 10%, darken($theme-orange, 8%) 84%);
	}
	.gradients & {
	    background: linear-gradient(150deg, #00C7FF 6%, #8AC641 54%, #FF9600 94%);
	}
	@include mobile-small {
		padding-top: 100px;
	}
	@include tablet {
		padding-top: 126px;
		padding-bottom: 60px;
	}
	@include desktop {
		padding-top: 140px;
		padding-bottom: 100px;
	}
	@include large-desktop {
		padding-bottom: 120px;
	}
	img {
		@include tablet {
			display: none;
		}
		@include desktop {
			display: block;
		    position: absolute;
		    width: 32%;
		    right: 5%;
		    padding-top: 110px;
		}
	}
	&-title {
	  margin-bottom: 0;
	  letter-spacing: -.5px;
	  color: #fff;
	  animation-duration: 1s;
	  animation-name: slideup;
	  @include mobile-small {
	    font-size: 28px;
	    line-height: 36px;
	    animation: none;
	    text-align: center;
	  }
	  @include mobile-large {
	    font-size: 28px;
	    line-height: 36px;
	    text-align: center;
	  }
	  @include tablet {
	    font-size: 32px;
	    line-height: 36px;
	  }
	  @include desktop {
	    font-size: calc(1rem*4.2);
	    line-height: calc(1rem*4.2);
	     width: 80%;
	  }
	  @include large-desktop {
	    font-size: calc(1rem*4.4);
	    line-height: calc(1rem*4.8);
	    width: 50%;
	  }
	  @include hd-desktop {
	    font-size: 116px;
	    line-height: 120px;
	  }
	  &:after {
		content: "";
	    animation-duration: 1s;
	    animation-name: slideup;
	    animation-delay: 250ms;
	    opacity: 0;
	    animation-fill-mode: forwards;
	    background-color: rgba(255, 255, 255, 0.4);
	    position: relative;
	    display: block;
	    height: 3px;
	    @include mobile-small {
		    animation: none;
		    opacity: 1;
		    width: 97px;
		    margin: 32px auto;
	    }
	    @include tablet {
		    width: 97px;
		    margin: 26px 0;
	    }
	    @include desktop {
		    width: 200px;
			margin: 30px 0 40px 0;
	    }
	    @include large-desktop {
		    width: 183px;
		    margin: 30px 0 40px 0;
	    }
	  }
	}
	&-subtitle {
		color: #fff;
		animation-duration: 1.2s;
	    animation-name: slideup;
	    animation-delay: 800ms;
	    opacity: 0;
	    animation-fill-mode: forwards;
	    margin: 0;
	    @include mobile-small {
		    animation: none;
		    opacity: 1;
		    font-size: 20px;
		    line-height: 1.4;
		    padding-bottom: 80px;
		    text-align: center;
	    }
		@include tablet {
			font-size: 20px;
			line-height: calc(1rem*1.8);
		}
		@include desktop {
			font-size: calc(1rem*1.5);
			line-height: 1.5em;
			width: 60%;
		}
		@include large-desktop {
			font-size: 32px;
			line-height: 48px;
			width: 50%;
		}
	}
}