@import "partials/variables";

.work {
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: $text-color;
	margin-bottom: 50px;
	&--header {
		.green & {
			background-color: rgba($theme-green, .75);
		}
		.orange & {
			background-color: rgba($theme-orange, .75);
		}
		.blue & {
			background-color: rgba($theme-blue, .75);
		}
		padding: 40px 0;
		margin-bottom: 50px;
		margin-top: 30px;
	}
	&--title {
		text-align: center;
		@include desktop {
			font-size: 3rem;
			line-height: 1.2;
		}
	}
	&--summary {
		text-align: center;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		@include desktop {
			font-size: 1.8rem;
		}
	}
	&--subtitle {
		text-align: center;
		span {
			display: inline-block;
			padding-left: 10px;
			padding-right: 10px;
			&:not(:last-child()) {
				border-right: 1px solid;
			}
		}
	}
}

article {
	@include desktop {
		font-size: 1.3125rem;
		line-height: 1.5;
	}
}
.article {
	&--title {
		font-weight: 600;
		letter-spacing: -0.5px;
		margin-bottom: 0;
		@include mobile-small {
			margin-top: 36px;
			font-size: 20px;
			line-height: 24px;
		}
		@include tablet {
			margin-top: 58px;
			font-size: 27px;
			line-height: 32px;
		}
		@include desktop {
			margin-top: 58px;
		    font-size: 38px;
		    line-height: 44px;
		}
		@include large-desktop {
			margin-top: 70px;
			font-size: 52px;
			line-height: 62px;
		}
	}
	&--image {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
}	