.copyright {
    font-size: 1rem;
    color: color(text, light);
    a {
        color: inherit;
        text-decoration: underline;
    }
}

footer {
    padding-top: 14px;
}

.footer-navigation {
    // General Styling
    padding: .5em 0 1em 0;
    margin: 0;
    text-align: right;

    // footer list features
    li {
        font-size: 1rem;
        list-style: none;
        display: inline-block;
        line-height: 1.5;
        padding: 0 8px;
    }
    a {
        color: color(text,base);
        &:hover {
            color: color(text,light);
        }
    }
}