@import "variables";

.blurb {
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
	margin-top: 30px;
	margin-bottom: 50px;
	&-content {
		@include desktop {
			padding: 80px 0;
			width: 88%;
		}
	}
	&-title {
		letter-spacing: -0.5px;
		margin-top: 0;
		line-height: 1.2;
		margin-bottom: .7em;
		@include mobile-small {
			font-size: 1.4rem;
		}
		@include mobile-large {
			font-size: 1.5rem;
		}
		@include tablet {
			font-size: 27px;
		}
		@include desktop {
		    font-size: 48px;
		}
	}
	&-subtitle {
		margin-top: 0;
		margin-bottom: 0;
		@include mobile-small {
			font-size: 1.1rem;
			line-height: 24px;
		}
		@include mobile-large {
			font-size: 1.3rem;
		}
		@include tablet {
			font-size: 18px;
			line-height: 24px;
		}
		@include desktop {
			font-size: 24px;
			line-height: 36px;
			line-height: 1.5;
		}
	}
}

.specialties {
	padding-bottom: 4em;
	border-bottom: 1px solid rgba(0,0,0,.2);
	h2 {
        font-size: 2.2em;
        margin-bottom: .5em;
		margin-top: 0;
    }
}

blockquote {
	border-left: 3px solid;
	margin-left: 0;
	padding-left: 1.5em;
	font-size: 1.75em;
	letter-spacing: 0;
	font-style: italic;
}