@import "variables";

.blurb {
	//background-color: #fff;
	//background-color: #F0F0F0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	//text-align: center;
	color: $text-color;
	margin-bottom: 50px;
	@include desktop {
		padding: 64px 0;
	}
	&-content {
		//text-align: center;
		@include desktop {
			padding: 60px 0;
			width: 85%;
		}
	}
	&-title {
		letter-spacing: -0.5px;
		margin: 0;
		line-height: 1.3;
		margin-bottom: 24px;
		@include mobile-small {
			font-size: 1.4rem;
		}
		@include mobile-large {
			font-size: 1.5rem;
		}
		@include tablet {
			font-size: 27px;
		}
		@include desktop {
		    font-size: 38px;
		}
		@include large-desktop {
			font-size: 52px;
			line-height: 62px;
		}

	}
	&-subtitle {
		margin-top: 0;
		margin-bottom: 0;
		@include mobile-small {
			font-size: 1.1rem;
			line-height: 24px;
		}
		@include mobile-large {
			font-size: 1.3rem;
		}
		@include tablet {
			font-size: 18px;
			line-height: 24px;
		}
		@include desktop {
			font-size: 24px;
			line-height: 36px;
			line-height: 1.5;
		}
		@include large-desktop {
			font-size: 34px;
			line-height: 48px;
		}
	}
}