@import "variables";

.text-link {
	font-weight: bold;
	display: inline-block;
	margin: 1.5em 0;
	color: inherit;
	&.large {
		font-size: 26px;
		letter-spacing: 1px;
	}
	&.side-padding {
		padding-right: 1em;
		padding-left: 1em;
	}
	@include mobile-small {
		display: inline-block;
	    padding-top: 16px;
	    padding-bottom: 16px;
		width: 40vw;
		background-color: #4A4A4A;
		color: #fff;
		text-align: center;
	}
	&:after {
		content: "";
		display: block;
		opacity: .4;
		height: 3px;
		margin-top: 2px;
	    -webkit-transition: -webkit-transform 300ms ease;
	    transition: -webkit-transform 300ms ease;
	    transition: transform 300ms ease;
	    transition: transform 300ms ease,-webkit-transform 300ms ease;
	    background-color: #222;
        -webkit-transform-origin: 0;
	    transform-origin: 0;
	    @include mobile-small {
	    	height: 0;
	    }
	}
	&:hover:after {
		-webkit-transition: -webkit-transform 200ms ease;
	    transition: -webkit-transform 200ms ease;
	    transition: transform 200ms ease;
	    transition: transform 200ms ease,-webkit-transform 200ms ease;
	    -webkit-transform: scaleX(0);
	    transform: scaleX(0);
	}
	@include desktop {
		font-size: 21px;
		font-size: 1.5rem;
	}
}

.btn {
	&.center {
		margin: 0 auto;
	}
	&.btn-white {
		color: #fff;
	}
	.green & {
		background-color: $theme-green;
	}
	.blue & {
		background-color: $theme-blue;
	}
	.orange & {
		background-color: $theme-orange;
	}
	font-family: "WoodfordBourne";
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 1.07px;
	line-height: 24px;
	display: table;
	text-transform: uppercase;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	@include mobile-small {
		font-size: 15px;
		margin-top: 24px;
		margin-bottom: 42px;
		padding: 15px 39px 13px 39px;
	}
	@include tablet {
		margin-top: 23px;
	}
	@include desktop {
		margin-top: 49px;
		margin-bottom: 49px;
		padding: 16px 72px 14px 72px;
	}
	&:hover {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}
}