@import "animation";
@import "variables";

.jumbotron {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	&.solid {
		.green & {
			background: $theme-green;
		}
		.blue & {
			background: $theme-blue;
		}
		.orange & {
			background: $theme-orange;
		}
	}
	.green & {
		background-color: $theme-green;
		//background: linear-gradient(150deg, $theme-green 0%, darken($theme-green, 10%) 84%);
		background: $gradient-green-2;
	}
	.blue & {
		background-color: $theme-blue;
	    //background: linear-gradient(150deg, $theme-blue 10%, darken($theme-blue, 10%) 84%);
	    background: $gradient-blue-2;
	}
	.orange & {
		background-color: $theme-orange;
	    //background: linear-gradient(150deg, $theme-orange 10%, darken($theme-orange, 8%) 84%);
	    background: $gradient-orange-2;
	}
	@include mobile-small {
		padding-top: 100px;
		padding-bottom: 40px;
		//height: 100vh;
	}
	@include mobile-large {
	  	padding-top: 100px;
		padding-bottom: 40px;
	}
	@include tablet {
		//padding-top: 126px;
		padding-top: 20vh;
	}
	@include desktop {
		//padding-top: 52px;
		//padding-top: 140px;
		padding-top: 25vh;
		padding-bottom: 100px;
	}
	&.short {
		padding-top: 20vh;
		@include desktop {
			padding-bottom: 50px;
		}
	}
	&-title {
	  text-align: left;
	  letter-spacing: -.5px;
	  color: #fff;
	  animation-duration: 1s;
	  animation-name: slideup;
	  line-height: 1.2;
	  @include mobile-small {
		font-size: 1.75rem;
	    animation: none;
	    text-align: center;
	  }
	  @include mobile-large {
	  	font-size: 1.6rem;
	  }
	  @include tablet {
	    font-size: 2rem;
	    width: 86%;
	  }
	  @include desktop {
	    font-size: 3.5em;
		line-height: 1.2;
	    width: 88%;
	  }
	}
	&-subtitle {
		color: #fff;
		text-align: left;
		padding-bottom: 20px;
		animation-duration: 1.2s;
	    animation-name: slideup;
	    animation-delay: 800ms;
	    opacity: 0;
	    animation-fill-mode: forwards;
	    margin: 0;
	    line-height: 1.5;
	    @include mobile-small {
		    //animation: none;
		    opacity: 1;
		    font-size: 1.25rem;
		    display: none;
		    visibility: none;
	    }
	    @include mobile-large {
	    	font-size: 1.25rem;
	    }
		@include tablet {
			font-size: 1.25rem;
			width: 86%;
			padding-bottom: 80px;
		}
		@include desktop {
			font-size: 1.5em;
			width: 86%;
			padding-bottom: 20px;
		}
	}
}