.portfolio-grid {
	padding: 0;
	margin-bottom: 60px;
	overflow: hidden;
	li {
		list-style: none;
		display: inline-block;
		float: left;
		margin-bottom: 20px;
	}
	&--block {
		width: 100%;
		@include tablet {
			width: 48%;
		}
		@include desktop {
			width: 49%;
		}
		&:nth-child(2n) {
			margin-right: 19px;
		}
	}
	&--block picture,
	&--block-full picture {
		transition: opacity 300ms ease-out;
		&:hover {
			@include tablet {
	    		opacity: .75;
		    }	
		}
	}
	&--block-full {
		width: 100%;
	}
	&--details-company {
	    font-size: .8rem;
	    @include desktop {
		    font-size: 1rem;
	    }
	    margin-bottom: 0;
	    color: lighten(#4a4a4a, 20%);
	    text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
		display: none;
		visibility: none;
	}
	&--details-description {
		font-size: 1.2rem;
		margin-top: .5rem;
		line-height: 1.15em;
		letter-spacing: 0;
		@include desktop {
			margin-top: 1rem;
		    font-size: 1.5rem;
		}
	    color: #4a4a4a;
        text-transform: capitalize;
	}
}