@import "mixins";

@include font-face(WoodfordBourne, "../fonts/woodfordbourne-regular-webfont", normal, normal);
@include font-face(WoodfordBourne, "../fonts/woodfordbourne-bold-webfont", bold, normal);
@include font-face(WoodfordBourne, "../fonts/woodfordbourne-italic-webfont", normal, italic);
@include font-face(QuincyCF-Bold, "../fonts/QuincyCF-Bold", bold, normal);
@include font-face(QuincyCF-Black, "../fonts/QuincyCF-Black", 700, normal);
.bold {
  font-family: "QuincyCF-Bold", Georgia, serif;
}
.black {
  font-family: "QuincyCF-Black", Georgia, serif;
}
.atiza {
  font-family: "Atiza Text", Georgia, serif;
  font-weight: 400;
}
.atiza--bold {
  font-family: "Atiza Text", Georgia, serif;
  font-weight: bold;
  line-height: 1.5;
}

